{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    {{{ moodlecloud_ad_header }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_boost/header}}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                    <div class="card card-block">
                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}
                    </div>
                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="hidden-print">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>
<footer id="page-footer" class="p-y-1 bg-inverse">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# footer_links }}
            <p class="helplink">{{{ footer_links }}}</p>
        {{/footer_links}}

        {{{ moodlecloud_ad }}}

        {{{ output.login_info }}}
        <div class="tool_usertours-resettourcontainer"></div>
        {{{ output.home_link }}}
        <nav class="nav navbar-nav hidden-lg-up">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled p-t-1">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
    {{#showportallink}}
        <div id="portal-link-container">
            <a id="portal-link" target="_blank" href="{{{cloudportalurl}}}" title="{{#str}} cloudportallink, theme_boost {{/str}}">
                <img src="{{{cloudinvertedimgurl}}}"/>
                {{#str}} yourportal, theme_boost {{/str}}
            </a>
        </div>
    {{/showportallink}}
    {{#ga_global_property}}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            {{#ga_global_property}}ga('create', '{{{.}}}', 'auto', 'mcglobal');{{/ga_global_property}}
            {{#ga_region_property}}ga('create', '{{{.}}}', 'auto', 'mcregion');{{/ga_region_property}}

            {{! Custom Dimension (dimension1) for the Plan }}
            {{#ga_plan}}
            ga('mcglobal.set', 'dimension1', '{{{.}}}');
            ga('mcregion.set', 'dimension1', '{{{.}}}');
            {{/ga_plan}}

            {{! Send pageviews for both the region and global/rollup properties }}
            ga('mcglobal.send', 'pageview');
            ga('mcregion.send', 'pageview');
        </script>
    {{/ga_global_property}}
</footer>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
require(['jquery'], function($) {
    $('#portal-link-container a').click(function(e) {
        if ("ga" in window) {
            // we have multiple trackers, one for region and one for global, so we need to iterate over each
            // tracker and send the event data to each
            trackers = ga.getAll();
            $.each(trackers, function(i, tracker) {
                if (tracker) {
                    tracker.send('event', 'SSO Tab', 'Click', '', {
                        transport: 'beacon'
                    });
                }
            });
        }
    });
});
{{/js}}
