{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# footer_links }}
            <p class="helplink">{{{ footer_links }}}</p>
        {{/footer_links}}

        {{{ output.login_info }}}
        <div class="tool_usertours-resettourcontainer"></div>
        {{{ output.home_link }}}
        <nav class="nav navbar-nav d-md-none" aria-label="{{#str}}custommenu, admin{{/str}}">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
    {{#showportallink}}
        <div id="portal-link-container">
            <a id="portal-link" target="_blank" href="{{{cloudportalurl}}}" title="{{#str}} cloudportallink, theme_boost {{/str}}">
                <img src="{{{cloudinvertedimgurl}}}"/>
                {{#str}} yourportal, theme_boost {{/str}}
            </a>
        </div>
    {{/showportallink}}
    {{#ga_global_property}}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            {{#ga_global_property}}ga('create', '{{{.}}}', 'auto', 'mcglobal');{{/ga_global_property}}
            {{#ga_region_property}}ga('create', '{{{.}}}', 'auto', 'mcregion');{{/ga_region_property}}

            {{! Custom Dimension (dimension1) for the Plan }}
            {{#ga_plan}}
            ga('mcglobal.set', 'dimension1', '{{{.}}}');
            ga('mcregion.set', 'dimension1', '{{{.}}}');
            {{/ga_plan}}

            {{! Send pageviews for both the region and global/rollup properties }}
            ga('mcglobal.send', 'pageview');
            ga('mcregion.send', 'pageview');
        </script>
    {{/ga_global_property}}
</footer>
