{{!
    This file is part of the mod_appointment plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}
{{!
    @template mod_appointment/mobile_session_details

    Template for showing session details in mobile app.

    Example context (json):
    {
    }
}}
{{=<% %>=}}
<ion-item>
    <ion-row>
        <ion-col>
            <%#sessiontimes%>
            <p style="margin-top: 10px;"><strong><% date %> <br> <% time %></strong></p>
            <%/sessiontimes%>
            <p style="margin-top: 10px;">{{ 'plugin.mod_appointment.capacity' | translate }}: <% capacity %></p>
            <p style="margin-top: 10px;">{{ 'plugin.mod_appointment.status' | translate }}: <% status %></p>
            <%#fields%>
            <p style="margin-top: 10px;"><% name %>: <core-format-text text="<% value %>" component="mod_appointment" componentId="<% cmid %>"></core-format-text></p>
            <%/fields%>
            <p style="margin-top: 10px;">{{ 'plugin.mod_appointment.sessiondescription' | translate }}:</p>
            <p><core-format-text text="<% details %>" component="mod_appointment" componentId="<% cmid %>"></core-format-text></p>
        </ion-col>
    </ion-row>
</ion-item>
