{{!
    This file is part of the mod_appointment plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_appointment/session_details_modal

    Template for showing session details.

    Example context (json):
    {}
}}
<div class="px-2">
    <div class="mb-3">
        {{> mod_appointment/session_datetime}}
    </div>
    <div class="row mb-3">
        <div class="col-6">
            {{> mod_appointment/session_capacity}}
        </div>
        <div class="col-6">
            {{> mod_appointment/session_status}}
        </div>
    </div>
    <div class="mb-3">
        {{> mod_appointment/session_details}}
    </div>
    <div class="mb-3">
        {{> mod_appointment/session_customfields}}
    </div>
</div>
