{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace™ Code is the collection of software scripts
    (plugins and modifications, and any derivations thereof) that are
    exclusively owned and licensed by Moodle under the terms of this
    proprietary Moodle Workplace License ("MWL") alongside Moodle's open
    software package offering which itself is freely downloadable at
    "download.moodle.org" and which is provided by Moodle under a single
    GNU General Public License version 3.0, dated 29 June 2007 ("GPL").
    MWL is strictly controlled by Moodle Pty Ltd and its certified
    premium partners. Wherever conflicting terms exist, the terms of the
    MWL are binding and shall prevail.
}}
{{!
    @template tool_catalogue/coursecarousel/carousel

    Template for showing course carousel course cards.

    Example context (json):
    {
        "examplecontext": true,
        "carouselid": "uniqid",
        "userid": 2,
        "hascourses": true,
        "courses": [
            {
                "id": 1,
                "viewurl": "https://moodlesite/course/view.php?id=1",
                "fullname": "Advanced advises regarding body posture",
                "courseimage": "http://placekitten.com/300/300",
                "progress": "50",
                "extraclasses": "mb-2",
                "extraattributes": [{
                    "name": "data-visible",
                    "value": "1"
                }]
            },
            {
                "id": 2,
                "viewurl": "https://moodlesite/course/view.php?id=2",
                "fullname": "Introduction to health and safety at work",
                "courseimage": "http://placekitten.com/320/320",
                "progress": "60",
                "extraclasses": "mb-2",
                "extraattributes": [{
                    "name": "data-visible",
                    "value": "0"
                }]
            },
            {
                "id": 3,
                "viewurl": "https://moodlesite/course/view.php?id=3",
                "fullname": "Use more of your time in the classroom",
                "courseimage": "http://placekitten.com/350/350",
                "progress": "70",
                "extraclasses": "mb-2",
                "extraattributes": [{
                    "name": "data-visible",
                    "value": "1"
                }]
            }
        ],
        "hascardactions": true,
        "cardactions": [
            {
                "name": "Hide",
                "dataaction": "hide-card"
            }
        ]
    }
}}
<div id="tool_catalogue-carousel-{{carouselid}}" class="tool_catalogue-carousel block-cards"
     data-region="coursecarousel"
     data-userid="{{userid}}"
     data-filter-by="{{filterby}}"
>
    {{! Controls }}
    <div class="d-flex justify-content-end mb-3">
        {{>tool_catalogue/coursecarousel/controls}}
    </div>

    {{! Course cards }}
    <div class="card-deck dashboard-card-deck d-flex flex-nowrap justify-content-start" data-region="coursecarousel-cards" role="list">
        {{#courses}}
            {{>tool_catalogue/coursecarousel/coursecard}}
        {{/courses}}
    </div>

    {{! Empty message }}
    <div class="{{#hascourses}}d-none{{/hascourses}}" data-region="nothingtodisplay">
        {{#customemptystate}}
            {{{customemptystate}}}
        {{/customemptystate}}
        {{^customemptystate}}
            <h5 class="p-5 text-center text-gray-700">{{#str}} nothingtodisplay, moodle {{/str}}</h5>
        {{/customemptystate}}
    </div>
</div>
{{#js}}
    require(['tool_catalogue/coursecarousel/main'], function(CourseCarousel) {
        CourseCarousel.init(document.getElementById('tool_catalogue-carousel-{{carouselid}}'));
    });
{{/js}}