{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace Code is dual-licensed under the terms of both the
    single GNU General Public Licence version 3.0, dated 29 June 2007
    and the terms of the proprietary Moodle Workplace Licence strictly
    controlled by Moodle Pty Ltd and its certified premium partners.
    Wherever conflicting terms exist, the terms of the MWL are binding
    and shall prevail.
}}
{{!
    @template theme_workplace/wploginform

    This template renders the main signin form, uses context from template core/loginform

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring"
    }
}}
<div class="logintop">
    <h2 class="loginheader site-name">
        {{sitename}}
    </h2>
    <span class="site-logo mb-3">
    </span>

    {{#cansignup}}
        <div class="sr-only">
            <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
        </div>
    {{/cansignup}}
    {{#error}}
        <div class="loginerrors mt-3">
            <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
            <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
        </div>
    {{/error}}
</div>

<div class="loginform">
    <form class="mt-3" action="{{loginurl}}" method="post" id="login">
        <input id="anchor" type="hidden" name="anchor" value="">
        <script>document.getElementById('anchor').value = location.hash;</script>
        <input type="hidden" name="logintoken" value="{{logintoken}}">
        <div class="form-group input-group-lg">
            <label for="username" class="uppercase">
                {{^canloginbyemail}}
                    {{#str}} username {{/str}}
                {{/canloginbyemail}}
                {{#canloginbyemail}}
                    {{#str}} usernameemail {{/str}}
                {{/canloginbyemail}}
            </label>
            <input type="text" name="username" id="username"
                class="form-control input-rounded"
                value="{{username}}"
                autocomplete="username"
                placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}>
        </div>
        <div class="form-group input-group-lg">
            <label for="password" class="uppercase">{{#str}} password {{/str}}</label>
            <input type="password" name="password" id="password" value=""
                class="form-control input-rounded"
                autocomplete="current-password"
                placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}>
        </div>
        {{#rememberusername}}
            <div class="rememberpass mt-3">
                <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
            </div>
        {{/rememberusername}}

        <button type="submit" class="btn btn-primary btn-lg mt-3" id="loginbtn">{{#str}}login{{/str}}</button>
    </form>
</div>

{{#hasidentityproviders}}
    <hr class="my-4">
    <div class="identityproviders">
        <h6 class="mt-2 uppercase">{{#str}} potentialidps, auth {{/str}}</h6>
        <div class="potentialidplist">
            {{#identityproviders}}
                <div class="potentialidp">
                    <a href="{{url}}" class="btn btn-secondary btn-lg my-1" title={{#quote}}{{name}}{{/quote}}>
                        <div class="d-flex">
                            {{#iconurl}}
                                <img src="{{iconurl}}" alt="" width="24" height="24" class="align-self-center mr-2"/>
                            {{/iconurl}}
                            {{name}}
                        </div>
                    </a>
                </div>
            {{/identityproviders}}
        </div>
    </div>
{{/hasidentityproviders}}