{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace Code is dual-licensed under the terms of both the
    single GNU General Public Licence version 3.0, dated 29 June 2007
    and the terms of the proprietary Moodle Workplace Licence strictly
    controlled by Moodle Pty Ltd and its certified premium partners.
    Wherever conflicting terms exist, the terms of the MWL are binding
    and shall prevail.
}}
{{!
  @template tool_reportbuilder/report_table_footer

  The purpose of this template is to render the footer of the table with the proper controls.

  Classes required for JS:
  * none

  Data attributes required for JS:
  * none

  Context variables required for this template:
  * none

  Example context (json):
  {
    "pagination": "The pagination goes here",
    "downloadbuttons": "The download buttons goes here",
    "showingall": false,
    "totalrows": 100
  }

}}
<div class="tool_reportbuilder_report_table_footer d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between">
        <div></div>
        {{{pagination}}}
        <!-- 'Show all X' then is shown after pagination -->
        {{#pagination}}
            <button class="btn btn-link" data-action="showall" data-pagesize="5000">{{#str}} showall, core, {{totalrows}} {{/str}}</button>
        {{/pagination}}
        <!-- If there is no pagination and we are showing all results then 'Show X per page' is shown -->
        {{^pagination}}{{#showingall}}
            <button class="btn btn-link" data-action="showless" data-pagesize="{{defaultpagesize}}">{{#str}} showperpage, core, {{defaultpagesize}} {{/str}}</button>
        {{/showingall}}{{/pagination}}
    </div>
    <div class="d-flex justify-content-end">
        <div>
        {{{downloadbuttons}}}
        </div>
    </div>
</div>