{{!
    This file is part of Moodle - http://moodle.org/
     Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
     Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
     You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_reportbuilder/report_filters

    Template for manage filters.

    Classes required for JS:
    -
    Data attributes required for JS:
    * data-action="reset-all"  - Required for call the webservice to reset all filters

    Context variables required for this template:
    -

    Example context (json):
    {
        "canaddfilters": true,
        "hasfiltersselected": false,
        "nofiltersurl": "http://moodlehq.local/theme/image.php/workplace/tool_reportbuilder/1540388927/no-filters",
        "filtershelp": true
    }
}}

<div class="tool_reportbuilder_report_filters" data-region="report-filters">
    {{#canaddfilters}}
        <div data-region="available-filters">
            {{> tool_reportbuilder/report_available_filters}}
        </div>
        <div data-region="active-filters" class="form-vertical">
            {{> tool_reportbuilder/report_filters_manager}}
        </div>
    {{/canaddfilters}}
    {{#filtersform}}
        <div data-region="active-filters" class="form-vertical position-relative ml-2">
            <div class="active_filters_form_wrapper" data-region="active-filters-form">
                {{{filtersform}}}
            </div>
        </div>
    {{/filtersform}}
</div>