{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace Code is dual-licensed under the terms of both the
    single GNU General Public Licence version 3.0, dated 29 June 2007
    and the terms of the proprietary Moodle Workplace Licence strictly
    controlled by Moodle Pty Ltd and its certified premium partners.
    Wherever conflicting terms exist, the terms of the MWL are binding
    and shall prevail.
}}
{{!
    @template tool_reportbuilder/system_report

    Template to show a system report

    Classes required for JS:
    -
    Data attributes required for JS:
    -
    Context variables required for this template:
    -

    Example context (json):
    {
        "id": "1",
        "table": "The table goes here",
        "filtersinuse": "",
        "hassidebar": false
    }
}}
<div class="tool_reportbuilder_report report system-report" data-region="system-report" data-reportid="{{id}}" data-source="{{source}}">
    <div class="d-flex">
        <div class="w-100">
            {{> tool_reportbuilder/filters_icon}}
            <div class="table-responsive position-relative" data-region="data-report" data-parameters="{{parameters}}">
                {{{table}}}
            </div>
        </div>
        {{# hassidebar}}
            {{> tool_reportbuilder/report_sidebar}}
        {{/ hassidebar}}
    </div>
</div>
{{#js}}
    M.util.js_pending('tool_reportbuilder_system_report');
    require(['tool_reportbuilder/system_report'],
        function() {
            M.util.js_complete('tool_reportbuilder_system_report');
        }
    );
{{/js}}