{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace Code is dual-licensed under the terms of both the
    single GNU General Public Licence version 3.0, dated 29 June 2007
    and the terms of the proprietary Moodle Workplace Licence strictly
    controlled by Moodle Pty Ltd and its certified premium partners.
    Wherever conflicting terms exist, the terms of the MWL are binding
    and shall prevail.
}}
{{!
    @template tool_reportbuilder/table_header_cell

    This template renders the header of the columns

    Example context (json):
    {
        "name": "Example columns",
        "inplacename": "Example columns"
    }
}}
<div class="d-flex justify-content-start">
    <div class="mr-2">
        {{>core/drag_handle}}
    </div>
    <div class="w-100">
        <div class="d-flex justify-content-between">
            <small class="text-muted text-nowrap text-uppercase">{{originalname}}</small>
            <span class="text-nowrap report-header__icons">
                <a data-action="remove-column" data-columnid="{{columnid}}" class="nomargin" href="#">{{#pix}}e/cancel, core, {{#str}}deletecolumn, tool_reportbuilder, {{{name}}}{{/str}}{{/pix}}</a>
            </span>
        </div>
        <h5 class="text-nowrap">{{{inplacename}}}</h5>
        <small class="text-muted text-nowrap">{{{aggregation}}}</small>
    </div>
</div>