{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moodlecloud/footer

    This template renders the page footer.

    Example context (json):
    {
        "output": {
            "course_footer": "Course footer html",
            "login_info": "You are logged in as User <a href='http://localhost'>Log out</a>",
            "standard_footer_html": "<a href='http://localhost'>Purge all caches</a>",
            "standard_end_of_body_html": "Footer Javascript",
            "get_footerlinks" : "Support Forums <a href="https://moodle.org/community">Support Forums</a>",
            "get_gatc" : "Some GA content",
            "footnote" : "Theme footnote"
        }
    }
}}
<footer id="page-footer" class="m-t-1 py-3">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>
        <p class="helplink">{{{ output.get_footerlinks }}}</p>
        {{{ output.get_gatc }}}
        {{{ output.footnote }}}
        {{{ output.login_info }}}
        <div class="tool_usertours-resettourcontainer"></div>
        {{{ output.home_link }}}
        <nav class="nav navbar-nav d-md-none">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>