// Bootstrap variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

// Cloud defaults
$cloud-orange:  #fe5607 !default;
$cloud-grey:    #666 !default;
$moodle-orange: #f98012 !default;

// Variable from theme_moodlecloud_get_pre_scss()
$linkColor:     $cloud-orange !default; // Set in theme settings
$textColor:     $cloud-grey !default; // Set in theme settings
$body-bg:       $white !default; // Set in theme settings
$cardBackground: $white !default; // Set in theme settings
$contentBackground: $white !default; // Set in theme settings

$card-border-radius: 9px;

$secondary-bg:   $white !default;

$secondary:     $cloud-grey !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;

// Dropdowns
$dropdown-link-hover-color: $linkColor;

// Options
$enable-rounded: true !default;

// Body
$body-color:    $textColor !default;

// Fonts
$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-dark-text-color:            #999 !default;
$navbar-light-text-color:           #777 !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-hover-color:          $linkColor !default;

// Breadcrumbs
$breadcrumb-padding-y:              0.35rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           0.5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "▶" !default;
$breadcrumb-divider-rtl: "◀" !default;
$breadcrumb-divider-color: #ccc;

// Cards
$card-spacer-x: 0.625rem !default; // Half the Classic default to match MC existing breadcrumb spacing.
//^^^^^ TODO figure out if this needs changing, or just the one for breadcrumbs.

// Button appearance
.btn-secondary {
    // Consitency - These buttons were forced this colour/gradient in the BS2 version.
    /* stylelint-disable-next-line declaration-no-important */
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(230, 230, 230) 100%);

    &:hover {
        // Define colours to avoid compiler warning.
        $hovergradient1: darken(rgb(255, 255, 255), 5%);
        $hovergradient2: darken(rgb(230, 230, 230), 5%);
        background-image: linear-gradient($hovergradient1 0%, $hovergradient2 100%);
    }
}

.btn-primary {
    // Consitency - These buttons were forced this colour/gradient in the BS2 version.
    /* stylelint-disable-next-line declaration-no-important */
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    background-image: linear-gradient(rgb(254, 86, 7), rgb(254, 168, 7));

    &:hover {
        // Can't use this due to Edge/IE incompatibility with color hinting.
        //background-image: linear-gradient(rgb(254, 86, 7), 10%, rgb(254, 168, 7));
        background-image: linear-gradient(rgb(254, 168, 7), rgb(254, 168, 7));
    }
}

// Alerts
$alert-border-width: 0 !default;

$card-group-margin: .25rem;

$theme-colors: (
    primary: $linkColor,
    secondary: #f5f5f5, //TODO: Need to add the darker border so buttons etc get the right dark colour
    success: $success,
    info: $info,
    warning: $orange,
    danger: $danger,
    light: $gray-100,
    dark: $gray-800
);

// Import FontAwesome
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Preset CSS
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.filemanager-container,
.filepicker-filelist {
    border: $border-width solid $border-color;
}

// Square user pictures (old theme consistency).
.userpicture {
    border-radius: 0%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $border-color;
}

/**
 * Below are specific settings (mostly converted from the old LESS theme version).
 */

$navbar-light-bg:   scale-color($cardBackground, $lightness: 60%) !default;
$navbar-dark-bg:    $black !default;

// Opacity mixin (not included by Boost).
@mixin opacity($value) {
    opacity: $value / 100;
    filter: alpha(opacity=$value);
}

// Set the secondary background.
.block {
    background-color: $cardBackground;
}

$tableBackgroundAccent: darken($cardBackground, 5%);
$tableBackgroundHover: darken($cardBackground, 10%);
$tableBorder: darken($cardBackground, 7%);
$navbarBackground: $cardBackground;
$formActionsBackground: $cardBackground;
$paginationActiveBackground: $cardBackground;
$hrBorder: darken($cardBackground, 5%);

// Remove unwanted text shadow, this can look odd with random colours.
.breadcrumb li,
.nav-header {
    text-shadow: none;
}

#portal-link-container {
    position: fixed;
    top: 45%;
    right: 0;
    left: auto;
    width: 30px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
    overflow: hidden;
    @include box-shadow(-5px -1px 17px -5px rgba(0, 0, 0, 0.5));
    @include opacity(80);

    &:hover {
        @include opacity(100);
    }
    #portal-link {
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        display: inline-block;
        white-space: nowrap;
        -webkit-transform: translate(0, 100%) rotate(-90deg);
        -moz-transform: translate(0, 100%) rotate(-90deg);
        -ms-transform: translate(0, 100%) rotate(-90deg);
        -o-transform: translate(0, 100%) rotate(-90deg);
        transform: translate(0, 100%) rotate(-90deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        img {
            height: 20px;
            width: 33px;
            display: inline-block;
            vertical-align: sub;
        }
        &::after {
            content: '';
            float: left;
            margin-top: 100%;
        }
    }
}

.dir-rtl {
    #portal-link-container {
        left: 0;
        right: auto;
        @include box-shadow(5px 1px 17px -5px rgba(0, 0, 0, 0.5));
        @include border-radius(0 5px 5px 0);

        #portal-link {
            -webkit-transform: translate(0, 100%) rotate(90deg);
            -moz-transform: translate(0, 100%) rotate(90deg);
            -ms-transform: translate(0, 100%) rotate(90deg);
            -o-transform: translate(0, 100%) rotate(90deg);
            transform: translate(0, 100%) rotate(90deg);
            -webkit-transform-origin: 100% 0;
            -moz-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            -o-transform-origin: 100% 0;
            transform-origin: 100% 0;
        }
    }
}

.tip-container {
    .yellow {
        -moz-transform: none;
    }
}

.popover-region {
    .fa {
        color: $textColor;
    }
}
