<div data-region="files-table-container"
     data-num-items=""
     data-limit="20"
     data-start="0"
>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>filename</th>
                <th>size</th>
                <th>type</th>
                <th>user</th>
                <th>component</th>
                <th>filearea</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody data-region="files-table-list">
        </tbody>
    </table>
    <div class="text-xs-center text-center">
        <div class="pagination">
            <ul class="pagination" data-region="pagination"></ul>
        </div>
    </div>
</div>
{{#js}}
require(['jquery', 'tool_fileslist/fileslist', 'tool_fileslist/paging_bar'], function($, FilesList, PagingBar) {
    FilesList.updateList($('[data-region="files-table-container"]')).then(function() {
        PagingBar.init(
            $('[data-region="pagination"]'),
            $('[data-region="files-table-container"]')
        );
    });
});
{{/js}}
