{{#files}}
<tr>
    <td>{{name}}</td>
    <td>{{sizeHumanReadable}}</td>
    <td>{{mimetype}}</td>
    <td><a href="{{user.profile}}">{{user.fullname}}<a/></td>
    <td>{{component}}</td>
    <td>{{filearea}}</td>
    <td>
        <a href="{{location}}" class="btn btn-primary">View in context</a>
    </td>
</tr>
{{/files}}
