{{#files}}
<tr>
    <td>{{name}}</td>
    <td>{{sizeHumanReadable}}</td>
    <td>{{mimetype}}</td>
    <td><a href="{{user.profile}}">{{user.fullname}}<a/></td>
    <td>{{component}}</td>
    <td>{{filearea}}</td>
    <td>
        {{#location}}<a href="{{location}}" class="btn btn-secondary">View in context</a>{{/location}}
    </td>
</tr>
{{/files}}
