{{#pages}}
<li class="page-item {{#active}}active{{/active}} {{#disabled}}disabled{{/disabled}}"
    data-region="page-item"
    data-page-number="{{number}}">

    <a href="#" class="page-link">{{label}}</a></li>
{{/pages}}
