{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace™ Code is the collection of software scripts
    (plugins and modifications, and any derivations thereof) that are
    exclusively owned and licensed by Moodle under the terms of this
    proprietary Moodle Workplace License ("MWL") alongside Moodle's open
    software package offering which itself is freely downloadable at
    "download.moodle.org" and which is provided by Moodle under a single
    GNU General Public License version 3.0, dated 29 June 2007 ("GPL").
    MWL is strictly controlled by Moodle Pty Ltd and its certified
    premium partners. Wherever conflicting terms exist, the terms of the
    MWL are binding and shall prevail.
}}
{{!
    @template tool_dynamicrule/conditions_menucard

    Template for showing rule conditions menu card.

    Example context (json):
    {
        "categoryid": "dynamicrules",
        "categorytitle": "Dynamic Rules",
        "menucarditems": [{
            "title": "User profile",
            "configclass": "tool_dynamicrule:user_profile_field",
            "addlabel": "Add condition"
        }]
    }
}}

<div id="workplace-accordion" class="mb-3">
    <div class="card">
        <div class="card-header p-0" id="{{categoryid}}-heading">
            <h5 class="mb-0">
                <button class="btn btn-link btn-block text-left ws-toggle nomargin ml-1" data-toggle="collapse" data-target="#{{categoryid}}" aria-expanded="true" aria-controls="{{categoryid}}">
                    <span class="togglesectionicon collapsed-icon-container">
                        {{#pix}} t/collapsedcaret, core, {{#str}} expand, moodle {{/str}}{{/pix}}
                    </span>
                    <span class="togglesectionicon expanded-icon-container">
                        {{#pix}} t/expanded, core, {{#str}} collapse, moodle {{/str}}{{/pix}}
                    </span>
                    {{categorytitle}}
                </button>
            </h5>
        </div>
        <div id="{{categoryid}}" class="collapse show" aria-labelledby="{{categoryid}}-heading">
            <div class="card-body p-0">
                <div class="list-group list-group-flush">
                    {{#menucarditems}}
                        {{#isavailable}}
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-start pr-2" data-configclass="{{configclass}}" data-isscheduledtask="{{isscheduledtask}}" title="{{title}}">
                            {{title}}
                            <span class="ml-auto">
                                {{#pix}}t/add, core, {{addlabel}} {{/pix}}
                            </span>
                        </a>
                        {{/isavailable}}
                        {{^isavailable}}
                        <span class="list-group-item list-group-item-action d-flex align-items-start pr-2 text-muted" title="{{title}}">
                            {{title}}
                            <span class="ml-auto">
                                {{#pix}}info-circle, tool_wp, {{notavailablelabel}} {{/pix}}
                            </span>
                        </span>
                        {{/isavailable}}
                    {{/menucarditems}}
                </div>
            </div>
        </div>
    </div>
</div>
