{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_organisation/dashboard_team_user

    Tab with jobs (for management)

    Context variables required for this template:

    Example context (json):
    {
        "id": 1,
        "userpicture": "<img src='https://raw.githubusercontent.com/moodle/moodle/master/pix/g/f1.png' width='35' height='35' alt='pic'>",
        "userfullname": "John Doe",
        "isglobalmanager": 1,
        "isdepartmentmanager": 1,
        "messageurl": "#",
        "profileurl": "#",
        "attentiontext": "1 expired certification",
        "jobs": [
            { "positionname": "Main developer", "departmentname": "Product", "dates": "From 01/07/2018 to 01/07/2019" },
            { "positionname": "Team lead", "departmentname": "Main office", "dates": "From 01/01/2016" }
        ],
        "userdetails": {"classes": "", "nodes": ["<li>Detail1</li>", "<li>Detail2</li>"]},
        "learning": {"classes": "", "nodes": ["<li>Report1</li>", "<li>Report 2</li>"]}
    }
}}
<div class="bg-white border-bottom">
    <div id="basicdetails-{{id}}" class="d-flex flex-wrap align-items-center">
        <div class="col-md-5 pl-0 d-flex align-items-center align-self-start">
            <button class="btn btn-link py-3 pl-3 pr-0 text-truncate d-flex align-items-center border-0 ws-toggle collapsed" data-toggle="collapse" data-target="#extendeddetails-{{id}}" aria-expanded="false" aria-controls="extendeddetails-{{id}}">
                <span class="togglesectionicon collapsed-icon-container">
                    {{#pix}} t/collapsedcaret, core, {{#str}} expand, moodle {{/str}}{{/pix}}
                </span>
                <span class="togglesectionicon expanded-icon-container">
                    {{#pix}} t/expanded, core, {{#str}} collapse, moodle {{/str}}{{/pix}}
                </span>
                <span class="mr-2">
                    {{#userpicture}}
                        {{{userpicture}}}
                    {{/userpicture}}
                </span>
                <span class="text-truncate">
                    {{{userfullname}}}
                </span>
            </button>
            <div class="usertypeicons ml-3">
                {{#isglobalmanager}}
                    <span class="nomargin mr-2"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{{#str}}globalmanager, tool_organisation{{/str}}">
                        <i class="icon fa fa-globe pl-1 text-gray070" aria-hidden="true">
                        </i>
                    </span>
                {{/isglobalmanager}}
                {{#isdepartmentmanager}}
                    <span class="nomargin mr-2"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{#str}}departmentmanager, tool_organisation{{/str}}">
                        <i class="icon fa fa-circle-o pl-1 text-gray070" aria-hidden="true">
                        </i>
                    </span>
                {{/isdepartmentmanager}}
            </div>
        </div>
        <span class="col-md-4 py-2 d-flex flex-wrap">
            {{#jobs}}
                <span class="border p-1 text-uppercase font-small my-1 mr-2 text-gray070">{{{positionname}}}</span>
            {{/jobs}}
        </span>

        <div class="col-md-3 d-flex usericons my-3 align-self-start">
            {{#canmessage}}
            <span class="iconcontainer d-inline-block nomargin mr-3 p-2">
                <a href="#" data-userid="{{id}}" data-conversationid="0" data-action="wpmessage">
                    {{#pix}}t/messages, core, {{#str}}sendmessage, core_message{{/str}}{{/pix}}
                </a>
            </span>
            {{/canmessage}}

            {{#profileurl}}
            <span class="iconcontainer d-inline-block nomargin mr-auto p-2">
                <a href="{{profileurl}}">
                    {{#pix}}i/user, core, {{#str}}profile{{/str}}{{/pix}}
                </a>
            </span>
            {{/profileurl}}

            {{#attentiontext}}
            <span class="iconcontainer d-inline-block nomargin mx-3 p-2 text-danger">
                {{#pix}}exclamation-triangle, tool_wp, {{attentiontext}}{{/pix}}
            </span>
            {{/attentiontext}}
        </div>
    </div>

    <div id="extendeddetails-{{id}}" class="collapse">
        <div class="px-4 pb-5 pt-4 bg-gray010">
            <div class="row mb-4">
                <div class="col-md-6">
                    {{#userdetails}}
                        <div class="profile_tree">
                            <div class="node_category {{classes}}">
                                <ul class="unlist">
                                    {{#nodes}}{{{.}}}{{/nodes}}
                                </ul>
                            </div>
                        </div>
                    {{/userdetails}}
                </div>
                <div class="col-md-6">
                    {{#learning}}
                        <div class="profile_tree">
                            <div class="node_category {{classes}}">
                                <ul class="unlist">
                                    {{#nodes}}{{{.}}}{{/nodes}}
                                </ul>
                            </div>
                        </div>
                    {{/learning}}
                </div>
            </div>

            <h5 class="border-bottom py-3">{{#str}}jobs, tool_organisation{{/str}}</h5>

            {{> tool_organisation/jobs_list }}
        </div>
    </div>
</div>