{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_organisation/jobs

    Tab with jobs (for management)

    Context variables required for this template:

    Example context (json):
    {
        "tabheading": "Jobs",
        "addbuttontitle": "Add",
        "jobslist": "List of jobs goes here"
    }
}}
{{> tool_wp/tab_heading }}

{{#warnings}}{{> core/notification_warning}}{{/warnings}}
<div class="jobslistreport-wrapper">
{{{jobslist}}}
</div>

{{#js}}
    require(['tool_organisation/manage_jobs'], function(Manage) {
        Manage.init({{systemcontextid}});
    });
{{/js}}
