{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_organisation/managed_users_view

    List of department frameworks (for management)

    Context variables required for this template:

    Example context (json):
    {
        "ismanager": true,
        "userstable": "<table></table>"
    }
}}
{{#ismanager}}
    {{{userstable}}}
    {{#reportoverdueurl}}
        <div class="p-3 text-right">
            <a href="{{reportoverdueurl}}">{{#str}} fullcompletionreport, tool_organisation {{/str}}</a>
        </div>
    {{/reportoverdueurl}}
{{/ismanager}}
{{#js}}
    require(['jquery', 'core/custom_interaction_events', 'core_message/message_drawer_helper'],
    function($, CustomEvents, MessageDrawerHelper) {
        var elementLocator = '[data-action="wpmessage"][data-userid]';
        CustomEvents.define($('body'), [CustomEvents.events.activate]);
        $('body').on(CustomEvents.events.activate, elementLocator, function(e, data) {
            e.preventDefault();
            data.originalEvent.preventDefault();
            MessageDrawerHelper.createConversationWithUser(parseInt($(e.currentTarget).attr('data-userid')));
        });
    });
{{/js}}
