{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace™ Code is the discrete and self-executable
    collection of software scripts (plugins and modifications, and any
    derivations thereof) that are exclusively owned and licensed by
    Moodle Pty Ltd (Moodle) under the terms of its proprietary Moodle
    Workplace License ("MWL") made available with Moodle's open software
    package ("Moodle LMS") offering which itself is freely downloadable
    at "download.moodle.org" and which is provided by Moodle under a
    single GNU General Public License version 3.0, dated 29 June 2007
    ("GPL"). MWL is strictly controlled by Moodle Pty Ltd and its Moodle
    Certified Premium Partners. Wherever conflicting terms exist, the
    terms of the MWL shall prevail.
}}
{{!
    @template tool_organisation/userjobs

    Cell with department, position and badges

    Context variables required for this template:

    Example context (json):
    {
        "isuserview": true,
        "jobs": [
            {
                "position": "Manager",
                "department": "Accounting",
                "isactive": true
            },
            {
                "position": "Accountant",
                "department": "Accounting",
                "isative": false
            }
        ]
    }
}}
{{#jobs}}
    <span class="d-block {{^isuserview}}my-2{{/isuserview}}">
        <span {{#isuserview}} class="font-weight-bold"{{/isuserview}}>{{ position }}</span> · {{ department }} {{^isactive}}<span class="badge badge-pill badge-black">{{#str}} notactivejob, tool_organisation {{/str}}</span>{{/isactive}}
    </span>
{{/jobs}}