<div class="welcome-block-slider">
    <div id="da-slider" class="da-slider">
        {{#slides}}
            <div class="da-slide" data-interval="{{slideinterval}}" data-autoplay="{{slideautoplay}}">
                <h2>{{{title}}}</h2>
                <p>{{{text}}}</p>
                {{#linkurl}}
                    <a class="da-link" href="{{{.}}}">{{linktext}}</a>
                {{/linkurl}}
                <div class="da-img">
                    {{#imageurl}}
                        <img src="{{{.}}}" alt="" />
                    {{/imageurl}}
                </div>
            </div>
        {{/slides}}
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
</div>
