<div class="row-fluid">
    <div class="students-area">
        <div class="container">
            <div class="students-area-feedback
                {{#hasslides}}span5{{/hasslides}}
                {{^hasslides}}no-slides{{/hasslides}}">
                    {{#heading}}<h3>{{.}}</h3>{{/heading}}
                    {{#subheading}}<h2>{{.}}</h2>{{/subheading}}
                    {{#iframe}}{{{.}}}{{/iframe}}
                    {{#brieftext}}{{{.}}}{{/brieftext}}
            </div>
            {{#hasslides}}
            <div class="span7">
                {{#slides}}
                    <div class="grid-testimo">
                        <div class="blog_box">
                            {{#imageurl}}<div class="blog_box_bloger"><img src="{{{.}}}" alt="{{#str}} userimage, theme_tikli {{/str}}"></div>{{/imageurl}}
                            <div class="testimonial-name">{{{name}}}</div>
                            <p class="testimonial-text"><i class="fa fa-quote-left"></i>{{text}}<i class="fa fa-quote-right"></i></p>
                        </div>
                    </div>
                {{/slides}}
            </div>
            {{/hasslides}}
        </div>
    </div>
</div>
