<div class="news-updates">
    <div class="container">
        <div class="news-icon">
            <div class="news-icon-container">
                <div class="left"></div>
                <div class="middle">{{#pix}} icon, mod_feedback {{/pix}}</div>
                <div class="right"></div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <h3>{{{heading}}}</h3>
                <p>
                    <a href="{{{linkurl}}}" class="btn-see-all">
                        {{linktext}}
                        <span class="circle">
                            <span class="chevron right"></span>
                        </span>
                    </a>
                </p>
            </div>
            {{#newsitems}}
                <div class="span3 news-updates-extraclass">
                    <p><a href="{{{linkurl}}}">{{title}}</a></p>
                    <h5>{{description}}</h5>
                </div>
            {{/newsitems}}
        </div>
    </div>
</div>
