<li {{# predivide }}class="predivide"{{/ predivide }} >
    <a href="{{{ link }}}">
        <span class="i-wr">
            <i class="i-def">{{{ pix }}}</i>
        </span>
        <span>
            {{ title }}
        </span>
    </a>
</li>
