/* stylelint-disable max-line-length */

/* Copyright information */

#page-admin-index .copyright.workplacecopyright {
    padding-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
    margin-bottom: 0;
}

/* Hide native buttons in modal forms, they will be replaced with modal footer buttons */
.tool-wp-modal-form-dialogue .mform [data-fieldtype=submit] input[name=cancel],
.tool-wp-modal-form-dialogue .mform [data-fieldtype=submit] input[name=submitbutton] {
    display: none;
}
/* Hide close button (X) in the top right corner of modal forms */
.tool-wp-modal-form-dialogue .modal-header [data-action="hide"] {
    display: none;
}

/* Styles for the tree table */

.tool-wp-table-tree > .tool-wp-node {
    margin: 0 1rem;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-node-name {
    border-bottom: 2px solid #636363;
    font-weight: bolder;
}

.tool-wp-table-tree .tool-wp-node > .tool-wp-node-name {
    padding: 0.7rem .6rem .6rem;
    min-height: 50px;
    border-bottom: 1px solid #ececec;
}

.tool-wp-table-tree .tool-wp-node .tool-wp-node-name > * {
    padding-left: 0;
    padding-right: 0;
}

.tool-wp-table-tree .tool-wp-node .tool-wp-node-name .col-actions {
    text-align: right;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 30px;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 50px;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 70px;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 90px;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 110px;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 130px;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 150px;
}

.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-node-name > :first-child {
    padding-left: 170px;
}

/* This rule is slightly different, it will add indent to node at this level or deeper */
.tool-wp-table-tree > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node > .tool-wp-children > .tool-wp-node .tool-wp-node-name > :first-child {
    padding-left: 190px;
}

/* Datasource selector accordion*/
.tool-wp-accordion .card {
    border: none;
}
.tool-wp-accordion [data-toggle=collapse] .fa:before {
    content: "\f139";
}
.tool-wp-accordion [data-toggle=collapse].collapsed .fa:before {
    content: "\f13a";
}
.tool-wp-accordion .ui-draggable {
    cursor: move;
}
.tool-wp-accordion .ui-draggable-dragging {
    width: 100%;
    background-color: lightyellow;
}
.tool-wp-accordion .icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: lightgray;
}

/* Floating user notifications */
#wp-notifications-container {
    position: fixed;
    top: 72px;
    right: 12px;
    z-index: 1029;
}
#wp-notifications-container > .alert {
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 20px 25px;
    width: 300px;
    min-height: 80px;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
    border-radius: 3px;
}
#wp-notifications-container > .alert:hover {
    cursor: pointer;
}
#wp-notifications-container > .alert-success {
    color: #fff;
    background-color: #038866;
}
#wp-notifications-container > .alert-success .alert-link {
    color: #fff;
}
#wp-notifications-container > .alert-warning {
    color: #fff;
    background-color: #c39a3a;
}
#wp-notifications-container > .alert-warning .alert-link {
    color: #fff;
}
#wp-notifications-container > .alert-info {
    color: #fff;
    background-color: #0d5f7b;
}
#wp-notifications-container > .alert-info .alert-link {
    color: #fff;
}
#wp-notifications-container > .alert-danger {
    color: #fff;
    background-color: #ab3854;
}
#wp-notifications-container > .alert-danger .alert-link {
    color: #fff;
}
#wp-notifications-container > .alert > .wp-notification-icon-container {
    height: 100%;
    width: 30px;
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    justify-content: center;
}
#wp-notifications-container > .alert > .wp-notification-icon-container > .wp-notification-icon {
    font-size: 20px;
    margin-top: 20px;
}
#wp-notifications-container > .alert > .close {
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 0 #fff;
    opacity: 1;
}
#wp-notifications-container > .alert > .wp-notification-message {
    margin-left: 40px;
    margin-right: 25px;
    overflow: hidden;
}
#wp-notifications-container > .alert > .wp-notification-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
}
