{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="custommain">
    <div class="region-main-header d-flex">
        <div class="search-wr">
            <form class="coursesearchform" method="get" action="{{{urls.coursesearch}}}">
                <div class="input-group mb-3">
                    <label for="coursesearchquery" class="sr-only">{{#str}} coursesearch, theme_school {{/str}}</label>
                    <input id="coursesearchquery" type="text" name="search" class="form-control" placeholder="{{#str}} coursesearch, theme_school {{/str}}" aria-label="{{#str}} coursesearch, theme_school {{/str}}" aria-describedby="button-search">
                    <div class="input-group-append">
                        <button class="btn btn-theme-secondary icon-nomargin" type="button" value="Go" id="button-search">
                            {{#pix}}a/search, core{{/pix}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="ml-auto picker-container">
            {{#categorypickers.all}}
                <div id="all-category-picker-container">
                    {{{.}}}
                </div>
            {{/categorypickers.all}}
            {{#categorypickers.sub}}
                <div id="subcategory-picker-container" {{#categorypickers.all}}class="hidden"{{/categorypickers.all}}>
                    {{{.}}}
                </div>
                {{#categorypickers.all}}
                    <a id="category-picker-filter" href="javascript:void(0);" title="{{#str}} filtersubcategories, theme_school {{/str}}"><i class="fa fa-filter"></i></a>
                {{/categorypickers.all}}
            {{/categorypickers.sub}}
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="course-list-container" class="container-fluid">
        {{#hascourses}}

            <div class="row-fluid courses frontpage-course-list-all">
                <div class="course-items course-items-grid-view w-100 mw-100">
                    {{#courses}}
                        <div class="course-item">
                            <a href="{{{url}}}" class="d-block" title="{{#str}} courseimage, theme_school, {{name}} {{/str}}">
                                <div class="img-wr" style="background-image: url('{{{imageurl}}}');"></div>
                            </a>
                            <div class="course-item-cont  px-3 pt-3 pb-5">
                                <a href="javascript:void(0);" class="btn-togle-details" aria-expanded="false" aria-label="{{#str}} togglecoursedetails, theme_school, {{name}} {{/str}}">
                                    <i class="fa fa-plus-square-o closed"></i>
                                    <i class="fa fa-minus-square-o open"></i>
                                </a>
                                <h5><a href="{{{url}}}">{{name}}</a></h5>
                                {{#contacts}}
                                    <div class="abc"><h6>{{rolename}} : <a href="{{{profileurl}}}" aria-label="{{rolename}} {{name}}">{{name}}</a></h6></div>
                                {{/contacts}}
                                <h4>
                                    <a href="{{{url}}}" data-toggle="tooltip" title="{{name}}" title="{{#str}} viewcourse, theme_school, {{name}} {{/str}}" aria-label="{{#str}} viewcourse, theme_school, {{name}} {{/str}}">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                    {{#enrolledusersurl}}
                                        <a href="{{{.}}}" data-toggle="tooltip" title="{{#str}} enrolusers, enrol {{/str}}" aria-label="{{#str}} enrolusers, enrol {{/str}}">
                                            <i class="fa fa-users"></i>
                                        </a>
                                    {{/enrolledusersurl}}
                                </h4>
                                <div class="for-list-view-wr">
                                    <div class="for-list-view">
                                        <div class="img-wr">
                                            <a href="{{{url}}}"><img src="{{{imageurl}}}" alt="{{#str}} courseimage, theme_school, {{name}} {{/str}}"></a>
                                        </div>
                                        <div class="course-summary">{{{summary}}}</div>
                                        <div class="btn-plus">
                                            <div class="plus-container">
                                                <div class="plus"></div>
                                                <div class="cutoff"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/courses}}
                </div>
            </div>
        {{/hascourses}}

        {{^hascourses}}
            <div class="row-fluid">
                <p class="no-courses">{{#str}} nocourses, theme_school {{/str}}</p>
            </div>
        {{/hascourses}}
    </div>
</div>
{{> theme_school/coursecategory_buttons }}
