{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="custommain">
    <div class="region-main-header clearfix">
        <div class="search-wr">
            <form class="coursesearchform" method="get" action="{{{urls.coursesearch}}}">
                <div>
                    <label for="coursesearchquery" class="accesshide">{{#str}} coursesearch, theme_school {{/str}}</label>
                    <div class="input-append">
                        <input id="coursesearchquery" type="text" name="search" value="" placeholder="{{#str}} coursesearch, theme_school {{/str}}"></input>
                        <button type="submit" value="Go"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="pull-right picker-container">
            {{#categorypickers.all}}
                <div id="all-category-picker-container">
                    {{{.}}}
                </div>
            {{/categorypickers.all}}
            {{#categorypickers.sub}}
                <div id="subcategory-picker-container" {{#categorypickers.all}}class="hidden"{{/categorypickers.all}}>
                    {{{.}}}
                </div>
                {{#categorypickers.all}}
                    <a id="category-picker-filter" href="javascript:void(0);" title="{{#str}} filtersubcategories, theme_school {{/str}}"><i class="fa fa-filter"></i></a>
                {{/categorypickers.all}}
            {{/categorypickers.sub}}
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="course-list-container" class="container-fluid">
        {{#hascourses}}
            <div class="row-fluid">
                <div class="view-toggle pull-right">
                    <a href="javascript:void(0);" class="btn-view-list" title="{{#str}} listview, theme_school {{/str}}">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn-view-grid active" title="{{#str}} gridview, theme_school {{/str}}">
                        <i class="fa fa-th"></i>
                    </a>
                </div>
            </div>
            <div class="row-fluid courses frontpage-course-list-all">
                <div class="course-items course-items-grid-view">
                    {{#courses}}
                        <div class="course-item">
                            <div class="img-wr">
                                <a href="{{{url}}}"><img src="{{{imageurl}}}" title="{{#str}} courseimage, theme_school, {{name}} {{/str}}"></a>
                            </div>
                            <div class="course-item-cont">
                                <a href="javascript:void(0);" class="btn-togle-details" aria-expanded="false" aria-label="{{#str}} togglecoursedetails, theme_school, {{name}} {{/str}}">
                                    <i class="fa fa-plus-square-o closed"></i>
                                    <i class="fa fa-minus-square-o open"></i>
                                </a>
                                <h5><a href="{{{url}}}">{{name}}</a></h5>
                                {{#contacts}}
                                    <div class="abc"><h6>{{rolename}} : <a href="{{{profileurl}}}" aria-label="{{rolename}} {{name}}">{{name}}</a></h6></div>
                                {{/contacts}}
                                <h4>
                                    <a href="{{{url}}}" data-toggle="tooltip" title="{{name}}" title="{{#str}} viewcourse, theme_school, {{name}} {{/str}}" aria-label="{{#str}} viewcourse, theme_school, {{name}} {{/str}}">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                    <a href="{{{enrolledusersurl}}}" data-toggle="tooltip" title="{{#str}} enrolusers, enrol {{/str}}" aria-label="{{#str}} enrolusers, enrol {{/str}}">
                                        <i class="fa fa-users"></i>
                                    </a>
                                </h4>
                                <div class="for-list-view-wr">
                                    <div class="for-list-view">
                                        <div class="img-wr">
                                            <a href="{{{url}}}"><img src="{{{imageurl}}}" alt="{{#str}} courseimage, theme_school, {{name}} {{/str}}"></a>
                                        </div>
                                        <div class="course-summary">{{{summary}}}</div>
                                        <div class="btn-plus">
                                            <div class="plus-container">
                                                <div class="plus"></div>
                                                <div class="cutoff"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/courses}}
                </div>
            </div>
        {{/hascourses}}

        {{^hascourses}}
            <div class="row-fluid">
                <p class="no-courses">{{#str}} nocourses, theme_school {{/str}}</p>
            </div>
        {{/hascourses}}
    </div>
</div>
{{> theme_school/coursecategory_buttons }}
