{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#isadmin}}
    <div class="clear"></div>
    <div id="frontpage-edit-button">
        <a class="btn btn-primary" href="{{{frontpagesiteadminurl}}}">{{#str}} siteadministration, theme_school {{/str}}</a>
        <a class="btn btn-primary" href="{{{frontpagesettingsurl}}}">{{#str}} updatemymoodleon {{/str}}</a>
    </div>
{{/isadmin}}
{{#hascontent}}
    <div class="welcome-block-slider">
        <div id="da-slider" class="da-slider" role="list" aria-label="{{#str}} headercarousel, theme_school {{/str}}">
            {{#slides}}
                <div class="da-slide"
                    data-interval="{{slideinterval}}"
                    data-autoplay="{{slideautoplay}}"
                    role="listitem"
                    aria-label="{{title}}">

                    <h2>{{title}}</h2>
                    <p>{{text}}</p>
                    {{#linkurl}}
                        <a class="da-link" href="{{{.}}}">{{linktext}}</a>
                    {{/linkurl}}
                    <div class="da-img">
                        {{#imageurl}}
                            <img src="{{{.}}}" alt="{{title}}" />
                        {{/imageurl}}
                    </div>
                </div>
            {{/slides}}
            <nav class="da-arrows">
                <span class="da-arrows-prev" role="button" aria-label="{{#str}} previouscarouselitem, theme_school {{/str}}" tabindex="0"></span>
                <span class="da-arrows-next" role="button" aria-label="{{#str}} nextcarouselitem, theme_school {{/str}}" tabindex="0"></span>
            </nav>
        </div>
    </div>
{{/hascontent}}
