<div class="logining-wr">
    <a href="{{{ loginlink }}}">{{# str }} login, moodle {{/ str }}</a>
    {{# signuplink }}
        <a href="{{{ signuplink }}}">{{# str }} startsignup, moodle {{/ str }}</a>
    {{/ signuplink }}
</div>
