// RTL version for the slide animation on the front page.
// LTR is on style/cssliderstyle.css

/* Slide in from the right*/
.dir-rtl .da-slide-fromright h2{
    -webkit-animation: rtlFromRightAnim1 0.6s ease-in-out 0.8s both;
    -moz-animation: rtlFromRightAnim1 0.6s ease-in-out 0.8s both;
    -o-animation: rtlFromRightAnim1 0.6s ease-in-out 0.8s both;
    -ms-animation: rtlFromRightAnim1 0.6s ease-in-out 0.8s both;
    animation: rtlFromRightAnim1 0.6s ease-in-out 0.8s both;
}
.dir-rtl .da-slide-fromright p{
    -webkit-animation: rtlFromRightAnim2 0.6s ease-in-out 0.8s both;
    -moz-animation: rtlFromRightAnim2 0.6s ease-in-out 0.8s both;
    -o-animation: rtlFromRightAnim2 0.6s ease-in-out 0.8s both;
    -ms-animation: rtlFromRightAnim2 0.6s ease-in-out 0.8s both;
    animation: rtlFromRightAnim2 0.6s ease-in-out 0.8s both;
}
.dir-rtl .da-slide-fromright .da-link{
    -webkit-animation: rtlFromRightAnim3 0.4s ease-in-out 1.2s both;
    -moz-animation: rtlFromRightAnim3 0.4s ease-in-out 1.2s both;
    -o-animation: rtlFromRightAnim3 0.4s ease-in-out 1.2s both;
    -ms-animation: rtlFromRightAnim3 0.4s ease-in-out 1.2s both;
    animation: rtlFromRightAnim3 0.4s ease-in-out 1.2s both;
}
.dir-rtl .da-slide-fromright .da-img{
    -webkit-animation: rtlFromRightAnim4 0.6s ease-in-out 0.8s both;
    -moz-animation: rtlFromRightAnim4 0.6s ease-in-out 0.8s both;
    -o-animation: rtlFromRightAnim4 0.6s ease-in-out 0.8s both;
    -ms-animation: rtlFromRightAnim4 0.6s ease-in-out 0.8s both;
    animation: rtlFromRightAnim4 0.6s ease-in-out 0.8s both;
}
@-webkit-keyframes rtlFromRightAnim1{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-webkit-keyframes rtlFromRightAnim2{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-webkit-keyframes rtlFromRightAnim3{
    0%{ right: 110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-webkit-keyframes rtlFromRightAnim4{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@-moz-keyframes rtlFromRightAnim1{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-moz-keyframes rtlFromRightAnim2{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-moz-keyframes rtlFromRightAnim3{
    0%{ right: 110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-moz-keyframes rtlFromRightAnim4{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@-o-keyframes rtlFromRightAnim1{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-o-keyframes rtlFromRightAnim2{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-o-keyframes rtlFromRightAnim3{
    0%{ right: 110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-o-keyframes rtlFromRightAnim4{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@-ms-keyframes rtlFromRightAnim1{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-ms-keyframes rtlFromRightAnim2{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-ms-keyframes rtlFromRightAnim3{
    0%{ right: 110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-ms-keyframes rtlFromRightAnim4{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@keyframes rtlFromRightAnim1{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@keyframes rtlFromRightAnim2{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@keyframes rtlFromRightAnim3{
    0%{ right: 110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@keyframes rtlFromRightAnim4{
    0%{ right: 110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

/* Slide in from the left*/
.dir-rtl .da-slide-fromleft h2{
    -webkit-animation: rtlFromLeftAnim1 0.6s ease-in-out 0.6s both;
    -moz-animation: rtlFromLeftAnim1 0.6s ease-in-out 0.6s both;
    -o-animation: rtlFromLeftAnim1 0.6s ease-in-out 0.6s both;
    -ms-animation: rtlFromLeftAnim1 0.6s ease-in-out 0.6s both;
    animation: rtlFromLeftAnim1 0.6s ease-in-out 0.6s both;
}
.dir-rtl .da-slide-fromleft p{
    -webkit-animation: rtlFromLeftAnim2 0.6s ease-in-out 0.6s both;
    -moz-animation: rtlFromLeftAnim2 0.6s ease-in-out 0.6s both;
    -o-animation: rtlFromLeftAnim2 0.6s ease-in-out 0.6s both;
    -ms-animation: rtlFromLeftAnim2 0.6s ease-in-out 0.6s both;
    animation: rtlFromLeftAnim2 0.6s ease-in-out 0.6s both;
}
.dir-rtl .da-slide-fromleft .da-link{
    -webkit-animation: rtlFromLeftAnim3 0.4s ease-in-out 1.2s both;
    -moz-animation: rtlFromLeftAnim3 0.4s ease-in-out 1.2s both;
    -o-animation: rtlFromLeftAnim3 0.4s ease-in-out 1.2s both;
    -ms-animation: rtlFromLeftAnim3 0.4s ease-in-out 1.2s both;
    animation: rtlFromLeftAnim3 0.4s ease-in-out 1.2s both;
}
.dir-rtl .da-slide-fromleft .da-img{
    -webkit-animation: rtlFromLeftAnim4 0.6s ease-in-out 0.6s both;
    -moz-animation: rtlFromLeftAnim4 0.6s ease-in-out 0.6s both;
    -o-animation: rtlFromLeftAnim4 0.6s ease-in-out 0.6s both;
    -ms-animation: rtlFromLeftAnim4 0.6s ease-in-out 0.6s both;
    animation: rtlFromLeftAnim4 0.6s ease-in-out 0.6s both;
}
@-webkit-keyframes rtlFromLeftAnim1{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-webkit-keyframes rtlFromLeftAnim2{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-webkit-keyframes rtlFromLeftAnim3{
    0%{ right: -110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-webkit-keyframes rtlFromLeftAnim4{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@-moz-keyframes rtlFromLeftAnim1{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-moz-keyframes rtlFromLeftAnim2{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-moz-keyframes rtlFromLeftAnim3{
    0%{ right: -110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-moz-keyframes rtlFromLeftAnim4{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@-o-keyframes rtlFromLeftAnim1{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-o-keyframes rtlFromLeftAnim2{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-o-keyframes rtlFromLeftAnim3{
    0%{ right: -110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-o-keyframes rtlFromLeftAnim4{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@-ms-keyframes rtlFromLeftAnim1{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-ms-keyframes rtlFromLeftAnim2{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-ms-keyframes rtlFromLeftAnim3{
    0%{ right: -110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@-ms-keyframes rtlFromLeftAnim4{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

@keyframes rtlFromLeftAnim1{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@keyframes rtlFromLeftAnim2{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@keyframes rtlFromLeftAnim3{
    0%{ right: -110%; opacity: 0; }
    1%{ right: 10%; opacity: 0; }
    100%{ right: 10%; opacity: 1; }
}
@keyframes rtlFromLeftAnim4{
    0%{ right: -110%; opacity: 0; }
    100%{ right: 60%; opacity: 1; }
}

/* Slide out to the right */
.dir-rtl .da-slide-toright h2{
    -webkit-animation: rtlToRightAnim1 0.6s ease-in-out 0.6s both;
    -moz-animation: rtlToRightAnim1 0.6s ease-in-out 0.6s both;
    -o-animation: rtlToRightAnim1 0.6s ease-in-out 0.6s both;
    -ms-animation: rtlToRightAnim1 0.6s ease-in-out 0.6s both;
    animation: rtlToRightAnim1 0.6s ease-in-out 0.6s both;
}
.dir-rtl .da-slide-toright p{
    -webkit-animation: rtlToRightAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: rtlToRightAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: rtlToRightAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: rtlToRightAnim2 0.6s ease-in-out 0.3s both;
    animation: rtlToRightAnim2 0.6s ease-in-out 0.3s both;
}
.dir-rtl .da-slide-toright .da-link{
    -webkit-animation: rtlToRightAnim3 0.4s ease-in-out both;
    -moz-animation: rtlToRightAnim3 0.4s ease-in-out both;
    -o-animation: rtlToRightAnim3 0.4s ease-in-out both;
    -ms-animation: rtlToRightAnim3 0.4s ease-in-out both;
    animation: rtlToRightAnim3 0.4s ease-in-out both;
}
.dir-rtl .da-slide-toright .da-img{
    -webkit-animation: rtlToRightAnim4 0.6s ease-in-out both;
    -moz-animation: rtlToRightAnim4 0.6s ease-in-out both;
    -o-animation: rtlToRightAnim4 0.6s ease-in-out both;
    -ms-animation: rtlToRightAnim4 0.6s ease-in-out both;
    animation: rtlToRightAnim4 0.6s ease-in-out both;
}
@-webkit-keyframes rtlToRightAnim1{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-webkit-keyframes rtlToRightAnim2{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-webkit-keyframes rtlToRightAnim3{
    0%{ right: 10%;  opacity: 1; }
    99%{ right: 10%; opacity: 0; }
    100%{ right: 100%; opacity: 0; }
}
@-webkit-keyframes rtlToRightAnim4{
    0%{ right: 60%;  opacity: 1; }
    30%{ right: 55%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}

@-moz-keyframes rtlToRightAnim1{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-moz-keyframes rtlToRightAnim2{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-moz-keyframes rtlToRightAnim3{
    0%{ right: 10%;  opacity: 1; }
    99%{ right: 10%; opacity: 0; }
    100%{ right: 100%; opacity: 0; }
}
@-moz-keyframes rtlToRightAnim4{
    0%{ right: 60%;  opacity: 1; }
    30%{ right: 55%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}

@-o-keyframes rtlToRightAnim1{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-o-keyframes rtlToRightAnim2{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-o-keyframes rtlToRightAnim3{
    0%{ right: 10%;  opacity: 1; }
    99%{ right: 10%; opacity: 0; }
    100%{ right: 100%; opacity: 0; }
}
@-o-keyframes rtlToRightAnim4{
    0%{ right: 60%;  opacity: 1; }
    30%{ right: 55%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}

@-ms-keyframes rtlToRightAnim1{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-ms-keyframes rtlToRightAnim2{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@-ms-keyframes rtlToRightAnim3{
    0%{ right: 10%;  opacity: 1; }
    99%{ right: 10%; opacity: 0; }
    100%{ right: 100%; opacity: 0; }
}
@-ms-keyframes rtlToRightAnim4{
    0%{ right: 60%;  opacity: 1; }
    30%{ right: 55%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}

@keyframes rtlToRightAnim1{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@keyframes rtlToRightAnim2{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}
@keyframes rtlToRightAnim3{
    0%{ right: 10%;  opacity: 1; }
    99%{ right: 10%; opacity: 0; }
    100%{ right: 100%; opacity: 0; }
}
@keyframes rtlToRightAnim4{
    0%{ right: 60%;  opacity: 1; }
    30%{ right: 55%;  opacity: 1; }
    100%{ right: 100%; opacity: 0; }
}

/* Slide out to the right on RTL*/
.dir-rtl .da-slide-toleft h2{
    -webkit-animation: rtlToLeftAnim1 0.6s ease-in-out both;
    -moz-animation: rtlToLeftAnim1 0.6s ease-in-out both;
    -o-animation: rtlToLeftAnim1 0.6s ease-in-out both;
    -ms-animation: rtlToLeftAnim1 0.6s ease-in-out both;
    animation: rtlToLeftAnim1 0.6s ease-in-out both;
}
.dir-rtl .da-slide-toleft p{
    -webkit-animation: rtlToLeftAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: rtlToLeftAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: rtlToLeftAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: rtlToLeftAnim2 0.6s ease-in-out 0.3s both;
    animation: rtlToLeftAnim2 0.6s ease-in-out 0.3s both;
}
.dir-rtl .da-slide-toleft .da-link{
    -webkit-animation: rtlToLeftAnim3 0.6s ease-in-out 0.6s both;
    -moz-animation: rtlToLeftAnim3 0.6s ease-in-out 0.6s both;
    -o-animation: rtlToLeftAnim3 0.6s ease-in-out 0.6s both;
    -ms-animation: rtlToLeftAnim3 0.6s ease-in-out 0.6s both;
    animation: rtlToLeftAnim3 0.6s ease-in-out 0.6s both;
}
.dir-rtl .da-slide-toleft .da-img{
    -webkit-animation: rtlToLeftAnim4 0.6s ease-in-out 0.5s both;
    -moz-animation: rtlToLeftAnim4 0.6s ease-in-out 0.5s both;
    -o-animation: rtlToLeftAnim4 0.6s ease-in-out 0.5s both;
    -ms-animation: rtlToLeftAnim4 0.6s ease-in-out 0.5s both;
    animation: rtlToLeftAnim4 0.6s ease-in-out 0.5s both;
}
@-webkit-keyframes rtlToLeftAnim1{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-webkit-keyframes rtlToLeftAnim2{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-webkit-keyframes rtlToLeftAnim3{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-webkit-keyframes rtlToLeftAnim4{
    0%{ right: 60%;  opacity: 1; }
    70%{ right: 30%;  opacity: 0; }
    100%{ right: -50%; opacity: 0; }
}

@-moz-keyframes rtlToLeftAnim1{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-moz-keyframes rtlToLeftAnim2{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-moz-keyframes rtlToLeftAnim3{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-moz-keyframes rtlToLeftAnim4{
    0%{ right: 60%;  opacity: 1; }
    70%{ right: 30%;  opacity: 0; }
    100%{ right: -50%; opacity: 0; }
}

@-o-keyframes rtlToLeftAnim1{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-o-keyframes rtlToLeftAnim2{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-o-keyframes rtlToLeftAnim3{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-o-keyframes rtlToLeftAnim4{
    0%{ right: 60%;  opacity: 1; }
    70%{ right: 30%;  opacity: 0; }
    100%{ right: -50%; opacity: 0; }
}

@-ms-keyframes rtlToLeftAnim1{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-ms-keyframes rtlToLeftAnim2{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-ms-keyframes rtlToLeftAnim3{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@-ms-keyframes rtlToLeftAnim4{
    0%{ right: 60%;  opacity: 1; }
    70%{ right: 30%;  opacity: 0; }
    100%{ right: -50%; opacity: 0; }
}

@keyframes rtlToLeftAnim1{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@keyframes rtlToLeftAnim2{
    0%{ right: 10%;  opacity: 1; }
    30%{ right: 15%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@keyframes rtlToLeftAnim3{
    0%{ right: 10%;  opacity: 1; }
    100%{ right: -50%; opacity: 0; }
}
@keyframes rtlToLeftAnim4{
    0%{ right: 60%;  opacity: 1; }
    70%{ right: 30%;  opacity: 0; }
    100%{ right: -50%; opacity: 0; }
}
