[data-region="edit-program-calendar"] {
    .calendar-fix-selector-width select {
        min-width: 221px;
    }
}

[data-region="edit-content"] {
    .dropdown-toggle::after {
        display: none;
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .program-item.sortable-list-current-position .card-body {
        background-color: #d7f0ee;
    }

    .program-item.sortable-list-is-dragged {
        opacity: 0.65;
    }

    [data-groupname="completioncriteriagroup"] {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        // Removes empty form group label spacing.
        &.femptylabel {
            margin-left: 0;

            .col-md-3 {
                display: none;
                visibility: hidden;
            }

            .col-md-9 {
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}

.program_tag {
    height: 100%;
    width: 100%;
    padding: 5px 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.program_archived,
.program_user_status_overdue {
    @extend .program_tag;
    background-color: #f5a622;
}

.program_user_status_expired,
.program_user_status_suspended,
.program_program_deleted {
    @extend .program_tag;
    background-color: #db4d5f;
}

.program_user_status_open,
.program_user_status_futureallocation,
.program_user_status_active {
    @extend .program_tag;
    background-color: #4a90e2;
}

.program_user_status_certified,
.program_user_status_completed {
    @extend .program_tag;
    background-color: #7ed321;
}

[data-region="programs-overview-recursive-view"] .text-warning > .wp-hourglass {
    color: #ffd166;
}

body.pagelayout-mydashboard {
    #region-main,
    .page-content-inner > .contentwrapper {
        overflow: initial;
    }
}