/*
 Workplace launcher.
*/

$workplace-menu-item-width: 100px;
.workplace-menu {
    min-width: initial;
    @include media-breakpoint-down(xs) {
        max-width: 100%;
        position: fixed !important; /* stylelint-disable-line declaration-no-important */
        right: 0;
        left: 2px;
        top: $navbar-height;
    }
    .workplace-menu-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .workplace-menu-item {
        width: $workplace-menu-item-width;
        @include media-breakpoint-down(xs) {
            width: initial;
        }
        color: $body-color;
        text-decoration: none;
        word-break: break-word;
        &:hover {
            background-color: $gray-100;
            @include border-radius($border-radius);
        }
        > img {
            max-width: 100%;
        }
    }
}

/*
 Custom navbar icons.
*/

.navbar.fixed-top #usernavigation {
    .nav-link {
        padding: 0 0.65rem;
        .icon.fa-search {
            @extend .wpicon-search;
        }
        .icon.fa-bell-o {
            @extend .wpicon-bell;
        }
        .icon.fa-comment-o {
            @extend .wpicon-comments;
        }
        .icon.fa-th {
            @extend .wpicon-grid;
        }
    }
}

/*
 General Fixes.
*/

/* Reducing logo size. */
.navbar.fixed-top .navbar-brand .logo {
    max-height: calc(#{$navbar-height} - 20px - (#{$primary-nav-padding-y} * 2));
}

/* Hide first navbar divider. */
.navbar-hide-first-divider > .divider:first-of-type {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}
