{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace™ Code is the collection of software scripts
    (plugins and modifications, and any derivations thereof) that are
    exclusively owned and licensed by Moodle under the terms of this
    proprietary Moodle Workplace License ("MWL") alongside Moodle's open
    software package offering which itself is freely downloadable at
    "download.moodle.org" and which is provided by Moodle under a single
    GNU General Public License version 3.0, dated 29 June 2007 ("GPL").
    MWL is strictly controlled by Moodle Pty Ltd and its certified
    premium partners. Wherever conflicting terms exist, the terms of the
    MWL are binding and shall prevail.
}}
{{!
    @template tool_catalogue/listitems/course

    Template for showing a course.

    Example context (json):
    {
        "image": "http://placekitten.com/100/100",
        "iscatalogue": true,
        "islocked": false,
        "duedatebadgestr": "9 days left",
        "fullname": "Healt and Safety",
        "url": "http://localhost/course/view.php?id=1",
        "categoryname": "People & Culture",
        "progress": "30",
        "unlockrequirement": "Not available until 'Basics' is completed",
        "setid": 1
    }
}}
<div class="card mb-2 level{{^iscatalogue}} d-none{{/iscatalogue}}{{#islocked}} restricted bg-gray-100{{/islocked}}" data-region="catalogue-item" data-setid={{setid}}>
    <div class="card-body d-flex align-items-center p-3">
        <div class="media">
            <div class="courseimage border-radius mr-3" style='background-image: url("{{{image}}}");'>
                <span class="sr-only">{{#str}}courseimage_help, tool_catalogue{{/str}}</span>
            </div>
            <div class="media-body align-self-stretch d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center">
                    <a class="stretched-link" href="{{{url}}}" data-region="item-name">{{{fullname}}}</a>
                    {{#duedatebadgestr}}
                        <span class="badge badge-pill badge-{{{duedatebadgetype}}} ml-2">{{{duedatebadgestr}}}</span>
                    {{/duedatebadgestr}}
                </div>
                {{#categoryname}}
                    <div class="font-small">{{{categoryname}}}</div>
                {{/categoryname}}
                {{^islocked}}
                    {{#showprogress}}
                        <div class="font-small text-muted">{{#str}}progress, tool_catalogue, {{progress}}{{/str}}</div>
                    {{/showprogress}}
                {{/islocked}}
            </div>
        </div>
    </div>
    {{#islocked}}
        <div class="px-3 pb-3">
            <div class="d-flex align-items-center bg-gray-200 p-2 border-radius font-small">
                {{#pix}} i/lock {{/pix}}
                <div>{{{unlockrequirement}}}</div>
            </div>
        </div>
    {{/islocked}}
</div>
