{{!
    This file is part of Moodle - http://moodle.org/
     Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
     Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
     You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_wp/copy_to_clipboard

    Template for showing "copy to clipboard" icon

    Example context (json):
    {
        "text": "Text to copy"
    }
}}
<a href="#" data-action="copy_to_clipboard" data-text="{{text}}"
   class="m-l-1">{{#pix}}e/paste, core, {{#str}}copytoclipboard, tool_wp{{/str}}{{/pix}}</a>

{{#js}}
    require(['tool_wp/copy_to_clipboard']);
{{/js}}
