{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace Code is dual-licensed under the terms of both the
    single GNU General Public Licence version 3.0, dated 29 June 2007
    and the terms of the proprietary Moodle Workplace Licence strictly
    controlled by Moodle Pty Ltd and its certified premium partners.
    Wherever conflicting terms exist, the terms of the MWL are binding
    and shall prevail.
}}
{{!
    @template tool_wp/notification_success

    Moodle notification template.

    The purpose of this template is to render a success notification.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * message A cleaned string (use clean_text()) to display.
    * extraclasses Additional classes to apply to the notification.
    * closebutton Whether a close button should be displayed to dismiss the message.
    * announce Whether the notification should be announced to screen readers.

    Example context (json):
    { "message": "Your pants are on fire!", "closebutton": 1, "announce": 1, "extraclasses": "foo bar"}
}}
<div class="alert alert-success alert-block fade in {{ extraclasses }}" {{!
    }}{{# announce }} role="alert" data-aria-autofocus="true"{{/ announce }}{{!
    }}>
    <div class="wp-notification-icon-container"><i class="pull-left wp-notification-icon wp-completed"></i></div>
    {{# closebutton }}<button type="button" class="close" data-dismiss="alert">&times;</button>{{/ closebutton }}
    <div class="wp-notification-message">{{{ message }}}</div>
</div>
