/**
 * Custom MoodleCloud CSS.
 *
 */

body,
html {
    height: 100%;
    padding-top: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -180px;
}
.wrapper::after {
    content: "";
    display: block;
    min-height: 180px;
}
#page-footer {
    box-sizing: border-box;
    margin: 0;
    min-height: 180px;
    background-color: #fff;
    width: 100%;
    text-align: center;
}

// Prevent negative-margin from adding horizontal scrollbar to section.
.row {
    max-width: 100%; //!important; // stylelint-disable-line declaration-no-important
}

.page-context-header .page-header-headings {
    margin-top: 30px;
    margin-bottom: 10px;
}
