.navbar-bootswatch {
    @extend .navbar-dark;
    background-color: $navbar-dark-bg;

    .usermenu {
        color: $navbar-dark-color;
        .login a {
            color: $navbar-dark-color;
        }
    }
    a.dropdown-toggle,
    a.popover-region-toggle,
    a .usertext,
    .popover-region .fa {
        color: $navbar-dark-color;
        @include hover-focus {
            color: $navbar-dark-hover-color !important; // stylelint-disable-line declaration-no-important
        }

        &.disabled {
            color: $navbar-dark-disabled-color;
        }
    }
    .dropdown-menu a .icon {
        color: inherit !important; // stylelint-disable-line declaration-no-important
    }

    .navbar-brand,
    .usertext {
        color: $navbar-dark-text-color;
    }
}