.navbar-bootswatch {
    background-color: $navbar-light-bg;

    .navbar-brand,
    .usertext,
    a.dropdown-toggle {
        color: $navbar-light-text-color;

        .site-name {
            text-shadow: 0 1px 0 $white;
        }
    }

    /* Force no colour change on hover for light navbar only (consistency with existing theme)*/
    .navbar-brand:hover {
        color: $navbar-light-text-color;
    }
}
