// The classic post scss is needed, with some additions/overrides.
@import "../../classic/scss/classic/post";

// Custom css override fixes.
body {
    #page-wrapper {
        max-width: 100%;
    }
}

// Bootstrapbase compatibility.
.container-fluid {
    max-width: 1680px;
}

#page-footer {
    border-top: 2px solid $secondary;

    a {
        color: $link-color;
        text-decoration: none;

        &:hover {
            color: darken($link-color, 15%);
            text-decoration: underline;
        }
    }
}

div.logo {
    background-size: contain !important; // stylelint-disable-line declaration-no-important
    background-repeat: no-repeat !important; // stylelint-disable-line declaration-no-important
}

// Replacement form setting #region-main through lib.php.
#region-main {
    border: $card-border-width solid darken($contentBackground, 7%) !important; // stylelint-disable-line declaration-no-important
    padding: 1.12rem !important; // stylelint-disable-line declaration-no-important
    background-color: $contentBackground !important; // stylelint-disable-line declaration-no-important
}

#page-my-index #region-main {
    border: 0;
}

// Course list appearance.
.courses .coursebox {
    border-radius: 4px !important; // stylelint-disable-line declaration-no-important

    &.even {
        background-color: $cardBackground !important; // stylelint-disable-line declaration-no-important
    }
}

// Course section separators.
.course-content ul li.section.main {
    border-bottom: 2px solid $cardBackground !important; // stylelint-disable-line declaration-no-important
}

// Form item separators. (eg during creating a new activity).
.mform fieldset {
    margin-bottom: .5rem;
    border-bottom: 1px solid $cardBackground !important; // stylelint-disable-line declaration-no-important
}

// Odd row / even row hover colour override.
tbody tr {
    &:nth-of-type(odd),
    &:nth-of-type(even):hover {
        background-color: $cardBackground !important; // stylelint-disable-line declaration-no-important
    }
}

// Block tree icon overrides.
@import "moodlecloud/blocks";
