{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace™ Code is the collection of software scripts
    (plugins and modifications, and any derivations thereof) that are
    exclusively owned and licensed by Moodle under the terms of this
    proprietary Moodle Workplace License ("MWL") alongside Moodle's open
    software package offering which itself is freely downloadable at
    "download.moodle.org" and which is provided by Moodle under a single
    GNU General Public License version 3.0, dated 29 June 2007 ("GPL").
    MWL is strictly controlled by Moodle Pty Ltd and its certified
    premium partners. Wherever conflicting terms exist, the terms of the
    MWL are binding and shall prevail.
}}
{{!
    @template tool_certification/edit_certification_user_allocation

    Template for user allocation into certification.

    Example context (json):
    {
        "tabheading": "Users list",
        "addbuttontitle": "Allocate user",
        "certificationid": "1",
        "userslist": "<div>Table goes here...</div>"
    }
}}
<div id="tool_certification-users" data-certificationid="{{certificationid}}">
    {{> tool_wp/tab_heading }}
    <div data-region="edit-certification-user-allocation">
        <div data-region="edit-certification-user-list">
            {{{userslist}}}
        </div>
    </div>

    {{#bulkactionsselect}}
        <div class="clearfix">
            <form method="POST" action="{{action}}" id="{{formid}}">
                <div class="{{classes}} d-inline-block">
                    {{#params}}
                        <input type="hidden" name="{{name}}" value="{{value}}">
                    {{/params}}
                    {{#label}}
                        <label for="{{id}}"{{#labelattributes}} {{name}}="{{value}}"{{/labelattributes}}>
                        {{{label}}}
                        </label>
                    {{/label}}
                    {{#helpicon}}
                        {{>core/help_icon}}
                    {{/helpicon}}
                    <select {{#attributes}}{{name}}="{{value}}" {{/attributes}} id="{{id}}" class="custom-select {{classes}}" name="{{name}}">
                    {{#options}}
                        {{#optgroup}}
                            <optgroup label="{{name}}">
                                {{#options}}
                                    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{{name}}}</option>
                                {{/options}}
                            </optgroup>
                        {{/optgroup}}
                        {{^optgroup}}
                            <option {{ignore}} value="{{value}}" {{#selected}}selected{{/selected}}>{{{name}}}</option>
                        {{/optgroup}}
                    {{/options}}
                    </select>
                    <noscript>
                        <input type="submit" class="btn btn-secondary" value="{{#str}}go, core{{/str}}">
                    </noscript>
                </div>
            </form>
        </div>
    {{/bulkactionsselect}}
</div>

{{#js}}
    M.util.js_pending('tool_certification_user_alloc');
    require([
        'tool_certification/user_allocations',
        'tool_certification/certification_user_log',
        'tool_program/program_progress_modal'
    ], function(alloc, log, progressmodal) {
        alloc.init();
        log.init();
        progressmodal.init();
        {{#bulkactionsselect}}
            alloc.initBulkActions('#{{formid}}', {{certificationid}});
        {{/bulkactionsselect}}
        M.util.js_complete('tool_certification_user_alloc');
    });
{{/js}}