{{!
    This file is part of Moodle Workplace https://moodle.com/workplace based on Moodle

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Moodle Workplace™ Code is the collection of software scripts
    (plugins and modifications, and any derivations thereof) that are
    exclusively owned and licensed by Moodle under the terms of this
    proprietary Moodle Workplace License ("MWL") alongside Moodle's open
    software package offering which itself is freely downloadable at
    "download.moodle.org" and which is provided by Moodle under a single
    GNU General Public License version 3.0, dated 29 June 2007 ("GPL").
    MWL is strictly controlled by Moodle Pty Ltd and its certified
    premium partners. Wherever conflicting terms exist, the terms of the
    MWL are binding and shall prevail.
}}
{{!
    @template format_wplist/coursemodule

    This template renders action menu for each course.

    Example context (json):
    {
        "editing": false,
        "availability": "Not available until..",
        "text": "Module description text",
        "cmname": "Quiz Math 01",
        "editoptions": "<div class='dropdown'>edit</div>",
        "moveicons": "<div><i class='fa fa-arrows'></i></div>",
        "mod": {
            "id": 234,
            "section": 245,
            "uservisible": true,
            "afterlink": "<a href='..'>Linkname</a>"
        }
    }
}}
<div id="module-{{mod.id}}"
    data-region="module"
    data-module="{{mod.id}}"
    class="wplist-group-item p-0 w-100
        {{^mod.uservisible}} notavailable bg-gray020 {{/mod.uservisible}}
        {{^editing}}border-0{{/editing}}
        {{#editing}}border-bottom{{/editing}}
        activity type-{{mod.modname}} {{mod.extraclasses}}"
>
    <div class="d-flex align-items-start module-content position-relative">

        {{#editing}}
            {{{moveicons}}}
        {{/editing}}

        {{#completion}}
            <span class="completion iconlarge nomargin py-3 px-md-4 align-self-start">
                {{{completion}}}
            </span>
        {{/completion}}
        {{^completion}}
            <div class="iconlarge nomargin py-3 px-md-4">
                <i class="icon fa fa-fw"></i>
            </div>
        {{/completion}}


        <div class="d-flex flex-column pt-3 align-self-start pl-1 flex-fill">
            {{#cmname}}
            <span class="d-flex cmname pb-2 iconlarge">
                {{{cmname}}}
            </span>
            {{/cmname}}
            {{#text}}
                <span class="text d-flex mb-2 pr-3">
                    {{{text}}}
                </span>
            {{/text}}
            {{{activityinfo}}}
        </div>

        {{#mod.afterlink}}
            <span class="afterlink">
                {{{mod.afterlink}}}
            </span>
        {{/mod.afterlink}}

        {{#availability}}
            <span class="availability iconlarge nomargin">
                <a class="btn btn-link border-0 py-3 px-md-4 popover-dismiss" data-toggle="popover"
                        data-trigger="focus" data-html="true" data-content="{{availability}}" data-placement="left" tabindex="0">
                    {{#pix}} i/lock, core {{/pix}}
                </a>
            </span>
        {{/availability}}

        {{#editing}}
            <span class="editoptions ml-auto align-self-stretch d-flex p-3">
                {{{editoptions}}}
            </span>
        {{/editing}}
    </div>
</div>
