{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_wplist/editsection

    This template renders action menu for each course.

    Example context (json):
    {
        "addcm": "modchooser modal",
        "sectionmenu": "section dropdown menu"
    }
}}
<div class="actions dropdown align-self-center ml-auto mr-2 mt-2 d-flex">
    <span class="section-modchooser mr-lg-2">
        <span class="section-modchooser-link">
            <span class="section-modchooser-text p-1">
                {{#pix}} plus-circle, tool_wp, {{#str}} addresourceoractivity, moodle {{/str}} {{/pix}}
            </span>
        </span>
    </span>
    {{{sectionmenu}}}
</div>
<div class="addcm">
    {{{addcm}}}
</div>
